@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="test_containter">
    <div class="test_class">Кава для офісів</div>
    <div class="test_class">Франшиза</div>
    <div class="test_class">Новини</div>
    <div class="test_class">Магазин</div>
</div>
<video loop="loop" muted="muted" autoplay="autoplay" id="video_test">
    <source src="~/media_content/video_1.mp4" type="video/mp4" />

</video>